---
import "../../styles/ww.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Litvinenko</title>
  </head>
  <body>
    <header>
      <h1 id="headline">Polonium 210: Litvinenko</h1>
    </header>
    <section id="notes-timeline-collection">
      <div class="notes-timeline">
        <h2 class="notes-timeline-year">14. November 2006</h2>
        <h2 class="notes-timeline-location">@PineBar</h2>
        <p class="notes-timeline-txt">Hallo, das ist nur ein kleiner Test</p>
      </div>
      <div class="notes-timeline">
        <h2 class="notes-timeline-year">14. November 2006</h2>
        <h2 class="notes-timeline-location">@PineBar</h2>
        <p class="notes-timeline-txt">Hallo, das ist nur ein kleiner Test</p>
      </div>
    </section>
    <footer>
      <p id="txt-down">
        Quellen gibts <a
          href="https://assets.publishing.service.gov.uk/media/5a8055c340f0b62302692e48/The-Litvinenko-Inquiry-H-C-695-web.pdf"
          >hier</a
        >
      </p>
    </footer>
  </body>
</html>
