img {
    width: 80%;
}



#blogarticles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}


.blog-article {
    width: 20vw;
    height: 20vw;
    border-radius: 2rem;
    background-color: aliceblue;
}

.blog-article p,.blog-article a {
    color: green;
    text-decoration: none;
}

.blog-date {
    font-style: italic;
    color: #9590a8;
    text-align: end;
    padding: 1rem;
}

