/*Metadata for the blog posts*/

.blog-userinfo {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1rem auto;
    width: 50%;
}

.blog-userinfo p {
    font-style: italic;
    font-family: raleway;
    font-weight: 600;     
}

#blog-title-img {
    width: 50%;
    display: none;
    margin: 0 auto;
}

#blog-main-headline {
    text-align: center;
    margin: 1rem 0;
}


hr {
    width: 40%;
    margin: 0 auto 1rem;
}



/*Styling of the text (& the article itself)*/

.blog-textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    min-width: 50ch;
    max-width: 75ch;
    margin: 0 auto;
}

#blog-description {
    font-family: martian;
}

.blog-textbox p:not(#blog-description) {
    font-family: raleway;
    margin: 2rem 0;
}

.blog-textbox a {
    text-decoration: underline;
}