#footer-layer-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    
}

#footer-layer-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    height: 2rem;
}

.footer * {
    color: var(--color-text-main);
    font-family: raleway;
}

.footer svg {
    height: 2.5rem;
}

.footer {
    background-color: var(--color-text-faded);
}

#footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10rem
}


.footer a:hover {
    
}

