.footer-h {
    text-decoration: none;
    font-family: lilita;
    font-size: 1.25rem;
    color: #272626;
}

.element {
    text-decoration: none;
    font-family: martian;
    font-size: 1em;
    color: #272626;
    font-weight: bold;
}



.container {
    display: flex;
    align-items: top;
    width: 100%;
    height: 200px;
    background-color: #3C6E71;
    position: fixed;
    bottom: 0;
}


#fone {
    flex-grow: 2;
}

#ftwo {
}


#fthree {
    flex-grow: 0.5;
}

#ffour {
    
}

#ffive {
    flex-grow: 2;
}

