:root {
    --color-text-main: #1C2321;
    --color-text-faded:#FCAA67;
    --color-component: #ffe9f5;
    --color-components: #C84192;    
    --color-component2: #9E2E71;
}



/*Fontconfig*/

 
@font-face {
    font-family: martian;
    src: url(/fonts/martianmono.ttf);
  }

@font-face {
    font-family: raleway;
    src: url(/fonts/raleway.ttf);
}

@font-face {
    font-family: spacegrotesk;
    src: url(/fonts/spacegrotesk.ttf);
    font-weight: 900;
}

@font-face {
    font-family: inter;
    src: url(/fonts/inter.ttf);
}

/* Standard Heading*/
h1, h2, h3, h4, h5, h6 {
    color: #272626;
    font-family: 'inter';
    font-weight: 900;
}


h1 {
    font-size: 4em;
}

h2 {
    font-size: 3.25em;
}

h3 {
    font-size: 2.59em;
}

h4 {
    font-size: 2.25em;
}

h5 {
    font-size: 1.91em;
}

h6 {
    font-size: 1.79em;
}

.inline {
    display: inline-block;
    }



p {
    font-family: martian;
}


body {
    margin: 0;
    padding: 0;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    border-radius: 5rem;
    border: 0.75rem solid #3C6E71;
    display: inline-block;
    background-color: #3C6E71;
}


code {
    font-family: martian;
    background-color: var(--color-text-main);
    color: var(--color-component);
    border: 1rem solid var(--color-text-main);
    border-radius: 1rem;
}


footer {
    margin-top: auto;
}

a {
    text-decoration: none;
} 

#imprint {
    width: 80vw;
    align-self: center;
}

#imprint h4 {
    margin: 1rem 0;
}
