
/*Fontconfig*/

@font-face {
    font-family: lilita;
    src: url(/fonts/lilitaone-regular.ttf);
    font-weight: 900;
  }
 
@font-face {
    font-family: martian;
    src: url(/fonts/martianmono.ttf);
  }






/* Standard Heading*/
h1, h2, h3, h4, h5, h6 {
    color: #272626;
    font-family: 'lilita';
}


h1 {
    font-size: 4em;
}

h2 {
    font-size: 3.25em;
}

h3 {
    font-size: 2.59em;
}

h4 {
    font-size: 2.25em;
}

h5 {
    font-size: 1.91em;
}

h6 {
    font-size: 1.79em;
}

.inline {
    display: inline-block;
    }



p {
    font-family: martian;
}


body {
    margin: 0;
    padding: 0;
}



.darkblue {
    background-color: #9590a8;
    padding: 1rem 0 2.5rem 0;
}

.darkblue * {
    text-align: center;
}

.box {
    border-radius: 5rem;
    border: 0.75rem solid #3C6E71;
    display: inline-block;
    background-color: #3C6E71;
}




/* #29274c */