
/*Fontconfig*/

@font-face {
    font-family: lilita;
    src: url(/fonts/lilitaone-regular.ttf);
    font-weight: 900;
  }

@font-face {
    font-family: cascadia;
    src: url(/fonts/cascadiacode.ttf);
  }


@font-face {
    font-family: anton;
    src: url(/fonts/anton-regular.ttf);
    font-weight: 900;
  }

 
@font-face {
    font-family: martian;
    src: url(/fonts/martianmono.ttf);
  }




/* Standard Heading*/
h1, h2, h3, h4, h5, h6 {
    color: #272626;
    font-family: 'anton';
}


h1 {
    font-size: 4em;
}

h2 {
    font-size: 3.25em;
}

h3 {
    font-size: 2.59em;
}

h4 {
    font-size: 2.25em;
}

h5 {
    font-size: 1.91em;
}

h6 {
    font-size: 1.79em;
}

.inline {
    display: inline-block;
    }



p {
    font-family: cascadia;
}


body {
    margin: 0;
    padding: 0;
}

