.header {
    display: flex;
    align-items: center;
    height: 4.5rem;
    gap: 2%;
}


.header * {
    color: var(--color-text-main);
    font-family: raleway;
    font-size: 1.5rem;
    font-weight: 900;
}

.header *:hover {
   color:blanchedalmond;
}

@media (min-width: 1300px) {


.header > div {
    width: 32%;
}


#header-left {
    display: flex;
}

#header-left > a {
    margin-left: 2rem;
}




#header-middle {
    display: flex;
    justify-content: center;
}

#header-right {
    display: flex;
    justify-content: end;
    gap: 2rem;
}


#header-right-end {
    margin-right: 2rem;
}

}