h1, h2, h3, h4, h5, h6 {
    font-family: inter;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.25rem;
}


#intro {
    display: flex;
    align-items: center;
    height: 100dvh;
}

#intro h1 {
    width: 100%;
    text-align: center;
}

#intro img {
    border-radius: 2rem;
    width: 40vw;
}

#interessen .container {
    display: flex;
}

#interessen .container div {
    width: 100%;
}