
#iconbox {
    display: flex;
    justify-content: center;
}

#iconbox svg {
    width: 2.5rem;
    color: black;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100dvh;
    gap: 1rem;
    background-image: url(/img/bg.webp);
}