---
import '../styles/global.css'
---


<html lang="en">
    <head>
        <meta description="A page only for font testing :D">
        <meta charset="UTF-8">
    </head>
    <body class="testing-fonts">
        <h1>Just for testing</h1>
        <h2>Just for development</h2>
        <h3>Just for an awesome web page</h3>
        <h4>Just for a nice font</h4>
        <h5>Just for a better experience</h5>
        <h6>Just for fun :D</h6>
        <p>Hello, welcome on this extremely boring website, with the purpose to be boring as fuck as we only test fonts here :D</p> 
        <code>Das ist mein Code, welcher selbstverständlich Funktioniert :D</code>
        <div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>       
    </body>
</html>