---
const pageTitle = "Impressum"
import '../styles/global.css'
import Header from '../components/header.astro'
import Umami from '../components/umami.astro'
import Footer from '../components/footer.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
		<Umami />
	</head>
	<body>
		<Header />
		<div id="imprint">
			<h1>Impressum</h1>
			<h4>Kontakt</h4>
			<p>E-Mail: contact[at]feuerstein.dev <a href="/pgp">PGP</a></p>
			<h4>Datenschutz</h4>
			<p>Diese Website ist auf Github Pages gehostet, weshalb hier auch die Datenschutzbestimmungen von Github gelten. Außerdem werden anonyme Analysedaten via Umami, einem Open Source Tool 
				erhoben - Sie beinhalten jedoch keine Persönlichen Daten. Durch den Dark Mode Button wird im lokalen Speicher des Browsers eine Angabe des aktuellen Zustands der Einstellung gespeichert.</p>
		</div> 
		<Footer />
	</body>
</html>
