---
const pageTitle = "Impressum"
import '../styles/global.css'
import Header from '../components/header.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
		<script async src="https://analytics.eu.umami.is/script.js" data-website-id="22969fd3-9bd0-4da1-896e-11aff73adbd8" data-do-not-track="true"></script>
	</head>
	<body>
		<Header />
		<h1>{pageTitle}</h1>
		<p>Niklas Feuerstein</p>
        <p>E-Mail: contact[at]feuerstein.dev <a href="/pgp">PGP</a></p>
		

	</body>
</html>
