---
const pageTitle = "feuerstein.dev"
import '../styles/global.css'
import Footer from '../components/footer.astro'
import Header from '../components/header.astro'
import '../styles/index.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Website of Niklas Feuerstein">
 		<meta name="keywords" content="Niklas Feuerstein, feuerstein.dev, Niklas, Feuerstein">
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header />
		<h1>Welcome</h1>
		<p>Hello, this Website is under construction. Please be patient.</p>
		<Footer />
	</body>
</html>
