---
const pageTitle = "feuerstein.dev";
import "../styles/global.css";
import "../styles/index.css";
import Umami from "../components/umami.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Website of Niklas Feuerstein" />
    <meta
      name="keywords"
      content="Niklas Feuerstein, feuerstein.dev, Niklas, Feuerstein"
    />
    <title>{pageTitle}</title>
    <Umami />
    <script is:inline  src="/scripts/darkmode.js"></script>
  </head>
  <body>
    <main>

       <!-- Intro -->

      <section id="intro">
        <h1>Hey, ich bin <br>Niklas Feuerstein</h1>
        <img src="/img/bg.webp">
     </section>
      <section>
      <h2>Über mich</h2>
      <ul>
        <li><p>17 Jahre alt</p></li>
        <li><p>11. Klasse</p></li>
        <li><p>Zu Hause in Neuendettelsau</p></li>
      </ul>
      </section>

      <!-- Interessen -->

      <section id="interessen">
      <h2>Interessen</h2>
      <div class="container">
        <div>
          <h3>STEM</h3>
        </div>
        <div>
          <h3>Politik</h3>
        </div>
      </div>
      <p>& weiteres</p>
    </section>
      <h2>Meine Tätigkeiten</h2>
      <h2>Meine Ziele 🎯</h2>
      <h2>Mein Blog</h2>
      <h2>Social Media</h2>
      <h2>Das sagen andere</h2>
      <h2>Kontakt</h2>
  </main>
  </body>
</html>