---
const pageTitle = "feuerstein.dev"
import '../styles/global.css'
import Footer from '../components/footer.astro'
import Header from '../components/header.astro'
import '../styles/index.css'
import Umami from '../components/umami.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Website of Niklas Feuerstein">
 		<meta name="keywords" content="Niklas Feuerstein, feuerstein.dev, Niklas, Feuerstein">
		<title>{pageTitle}</title>
		<Umami />
	</head>
	<body>
		<Header />
			<section>
				<div id="index-intro">
					<h2 id="index-intro-1">Ich bin Niklas</h2>
					<h2 id="index-intro-2">16 Jahre</h2>
					<h2 id="index-intro-3">Meine Interessen:</h2>
					<div class="index-intro-ibox">
						<div></div>
						<div></div>
						<div></div>
					</div>
					
				</div>
				<h3 id="index-others-h">Andere beschreiben mich so:</h3>
				<div id="index-others-container">
					<div>
						<p class="index-others-container-txt" >Hallo dieser Text ist ein kleiner Test. Ich will wissen, wie gut das klappt :D</p>
						<p class="index-others-container-name">@feuerstein</p>
						<img class="index-others-container-img" src="https://media.mastodon.de/accounts/avatars/110/961/284/696/885/054/original/30302bd5153ebb84.png">
					</div>
					<div>
						<p class="index-others-container-txt">Person 1</p>
						<p class="index-others-container-name">Person 1</p>
					</div>
					<div>
						<p class="index-others-container-txt">Person 1</p>
						<p class="index-others-container-name">Person 1</p>
					</div>
					<div>
						<p class="index-others-container-txt">Person 1</p>
						<p class="index-others-container-name">Person 1</p>
					</div>
					<div>
						<p class="index-others-container-txt">Person 1</p>
						<p class="index-others-container-name">Person 1</p>
					</div>
				</div>
				<p id="index-others-txt">Aber mach dir gerne selbst ein Bild</p>
			</section>
		<Footer />
	</body>
</html>



