---
const pageTitle = "feuerstein.dev"
import '../styles/global.css'
import Footer from '../components/footer.astro'
import Header from '../components/header.astro'
import '../styles/index.css'
import Umami from '../components/umami.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Website of Niklas Feuerstein">
 		<meta name="keywords" content="Niklas Feuerstein, feuerstein.dev, Niklas, Feuerstein">
		<title>{pageTitle}</title>
		<Umami />
	</head>
	<body>
		<Header />
		
		<!--
			<section>
				<div>
					
				</div>
				<h3>Andere beschreiben mich so:</h3>
				<div id="index-others-container">

				</div>
				<p>Aber mach dir gerne selbst ein Bild</p>
			</section>
		-->
		<Footer />
	</body>
</html>



