---
import '../styles/global.css'
import Footer from '../components/footer.astro'
import Header from '../components/header.astro'
import Umami from '../components/umami.astro'
const pageTitle = "License"
---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<Umami />
	</head>
	<body>
        <Header />
		    <h1>License</h1>
            <p>
                All content on the website, including text, images, and other media, is licensed under the CC BY-SA License. That means you can use the content on my Website, but you need to give attribution to me and use the same license as mine. <br>
            
                All Source Code of the Website is Licensed under the MIT License. That means you can use my source code, but you should give attribution to me.

			<h1>License Attributions</h1>
			<p>Most of the icons on this site are from <a href="https://iconify.design">Iconify</a></p>
			<ul>
				<li><p><a href="https://icon-sets.iconify.design/iconoir/laptop-dev-mode/">Iconoir</a></p></li>
				<li><p><a href="https://icon-sets.iconify.design/mingcute/mastodon-line/">Mingcute</a></p></li>
				<li><p><a href="https://icon-sets.iconify.design/mingcute/github-line/">Mingcute</a></p></li>
				<li><p><a href="https://icon-sets.iconify.design/mingcute/mail-line/">Mingcute</a></p></li>
				<li><p><a href="https://icon-sets.iconify.design/streamline/ecology-science-dna-biology-experiment-lab-science/">Streamline</a></p></li>
				<li><p><a href="https://icon-sets.iconify.design/streamline/politics-speech/">Streamline</a></p></li>
			</ul>
	</body>