<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta description="Just a collection of my links">
    </head>
    <body>
        <a href="https://mastodon.de/@feuerstein"></a>
        <a href="https://github.com/feuersteinium"></a>
    </body>
</html>