---
import '../styles/header.css'

---

<header>
    <div  class="fb">
       <img id="htwo" class="margin" src="/img/pp.svg">
       <p class="hfont"><a href="/">Niklas</a></p>
       <div id="spacing"></div>
       <p class="hfont margin"><a href="/docs">Docs</a></p>
       <p class="hfont margin"><a href="/projects">Projects</a></p>
       <p class="hfont" id="hone"><a href="/about">About</a></p>
    </div>
</header>