---
import '../styles/header.css'

---

<header>
    <div  class="header">
        <div id="header-left">
            <a href="/">Hey :D</a>
        </div>
        <div id="header-middle">
            <a class="header-middle-no" id="header-middle-one" href="/"> Niklas Feuerstein</a>
            <a class="header-middle-no" id="header-middle-two" href="/">NF</a>
        </div>
        <div id="header-right">
            <a  href="/blog">Blog</a>
            <a  href="/projects">Projekte</a>
            <a  href="/docs">Docs</a>
            <a  id="header-right-end" href="/notes">Notizen</a>
        </div>
    </div>
</header>