---
import '../styles/header.css'

---

<header>
    <div  class="header">
        <div id="header-left">
            <a href="/">Hey :D</a>
        </div>
        <div id="header-middle"
            <a href="/">Niklas Feuerstein</a>
        </div>
        <div id="header-right">
            <a  href="/blog">Blog</a>
            <a  href="/projects">Projects</a>
            <a  href="/docs">Docs</a>
            <a  id="header-right-end" href="/notes">Notes</a>
        </div>
    </div>
</header>